<% is_owner = event.user == current_user %>

<div class="infos-event-show-box">
  <%= cl_image_tag event.user.avatar.key, class: "avatar-profile" %>

  <div class= "box-infos">

    <div class="box-address">
      <% if event.address.length > 40 %>
        <p id="event-address"><%= "#{event.address.first(30)}...#{event.address.last(15)}" %></p>
      <% else %>
        <p id="event-address"><%= event.address %></p>
      <% end %>
    </div>

    <div class="box-date">
      <% if event.date_time == DateTime.now %>
        <p><%= event.date_time.strftime("Today at %H:%M") %></p>
      <% else %>
        <p><%= event.date_time.strftime("%a %d at %H:%M") %></p>
      <% end %>
    </div>

    <div class="emoji-chat">
      <%= link_to "💬", chatroom_event_path(event), class: "outline-none" %>
    </div>

  </div>
</div>
