<div class="content-container">
  <div class="text-center">
    <div>
      <div class="form-event-title">
        <%= link_to edit_when_event_path(@event) do %>
          <i class="fas fa-chevron-left"></i>
        <% end %>
      </div>

      <div class="mb-3">
        <h1 id="event-pick-friends">Pick your friends!</h1>
        <p>Only them will know about your plan</p>
      </div>
    </div>


    <div class= "toggle-text">
      <p>Friends can joins with friends</p>

      <label class="switch">
        <input type="checkbox" checked>
        <span class="slider round"></span>
      </label>
    </div>
  
    <p class ="border-grey">Search group or fiends 🔎</p>

    <%= simple_form_for @event, url: update_friends_event_path(@event) do |f| %>
      <%= f.input :friends,
        as: :check_boxes,
        label_method: lambda { |user| render "events/user_label", user: user },
        collection: @friends,
        checked: @event.guests.pluck(:id),
        input_html: {class: 'd-none radio-btn'},
        item_wrapper_class: :radio,
        # include_blank: false,
        include_hidden: false %>
      <%= f.input :open, input_html: { value: '1', id:'toggle-value', class: 'd-none' } %>

      <div class="box-btn-share-cancel-plan d-none">
        <%= link_to "Cancel plan", event_path(@event), method: :delete, data: { confirm: "Are you sure?" }, class: "mb-2 btn-cancel-plan" %>
         <br>
         <br>
        <div class="background-grey fixed-bottom">
          <%= f.button :submit, "💥 Share my plan 💥", class: "d-none", id: "edit-friends-submit"%>
          <%#= link_to "", event_path(@event), id: "confirm-link", class: "hidden" %>
          <%= link_to "Share my plan 💥", "", id: "share-my-plan", class: 'button-next mb-3' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
