<div class="content-container">

  <div class="pages-title">
    <div class="d-flex align-items-center justify-content-center">
      <div class="back-button-title">
        <%= link_to event_path(@event) do %>
          <i class="fas fa-chevron-left text-white"></i>
        <% end %>
      </div>

      <div class="box-title">
        <h1>Edit your event</h1>
      </div>

      <div class="empty-box-title"></div>
    </div>

    <p>You forgot to add something? It's ok, no worries: that happens!</p>
  </div>

  <%= simple_form_for @event do |f| %>

    <!-- <div class="text-center mb-3 mt-5">
      <h2>Change my title event</h2>
      <p><%#= "#{Event::EMOJI.find { |k, v| v == @event.emoji }.first }" %></p>
      <%#= f.input :title %>
      <h2>Change the description</h2>
      <%#= f.label :description %>
    </div> -->

    <div class="text-center mb-3 mt-4">
      <h2>Change the location</h2>
      <!-- <p>This is visible only to your guests</p> -->
    </div>

    <%= f.input :address %> <%# dont forget to get the current location + add geocoder and lat & lgt %>
    <div id="address_coordinates" class="text-white d-flex justify-content-center"></div>

    <div class="text-center mt-4">
      <h2>When?</h2>
      <!-- <p>Your plan happens around...</p> -->
    </div>
    <!-- <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"> -->
        <!-- <h1 class="text-today d-none">Today</h1> -->
      <div class= "time-big-small">
        <div class="time-scroll-box-hours-small d-flex flex-column mt-2 mr-3 align-items-center">
          <h1 id="time-hour-more" class=""><i class="fas fa-plus-circle"></i></h1>
          <h1 id="time-hour-less" class="pt-2"><i class="fas fa-minus-circle"></i></h1>
        </div>
        <div class="d-flex align-items-center">
          <h1 id="time-hour" class="text-linear-gradient-small mr-2"></h1>
          <h1 class="text-linear-gradient-small"> : </h1>
          <h1 id="time-min" class="text-linear-gradient-small ml-2"></h1>
        </div>
        <div class="time-scroll-box-mins-small d-flex flex-column mt-2 ml-3 align-items-center">
          <h1 id="time-min-more"><i class="fas fa-plus-circle"></i></i></h1>
          <h1 id="time-min-less" class="pt-2"><i class="fas fa-minus-circle"></i></h1>
        </div>
      </div>

    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
          <%= f.input :date_time, as: :time, label: false %>
      </div>

      <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
          <%= f.input :date_time, as: :string, required: false, input_html: {class: "datepicker"} %>
      </div>
    </div>

    <div class="text-center mt-4">
      <h2>What?</h2>
      <!-- <p>Choose wisely your emotivent!</p> -->
    </div>

    <%= f.input :emoji,
      as: :radio_buttons,
      wrapper_tag: :fieldset,
      label_method: lambda { |emoji| render "events/emoji_label", emoji: emoji },
      collection: Event::EMOJI.to_a.map(&:reverse),
      input_html: { multiple: false },
      item_wrapper_class: :radio,
      # selected: Event::EMOJI.first,
      include_hidden: false %>

    <%= f.submit "Update event", class: "button-next sticky-bottom background-grey" %>

  <% end %>
<br>
</div>
