<div class="window-top"></div>

<div class="content-container">

  <div class="pages-title pages-title-modal">
    <div class="d-flex align-items-center justify-content-center">
      <div class="back-button-title">
        <%= link_to events_path do %>
          <i class="fas fa-chevron-left text-white"></i>
        <% end %>
      </div>

      <div class="box-title">
        <h1 id="event-show-title">
          <%= "#{event.emoji} Let's #{Event::EMOJI.find { |k, v| v == event.emoji }.first }!" %>
        </h1>
      </div>

      <div class="empty-box-title"></div>
    </div>

    <p>Seems awesome, let's have fun guys.</p>
  </div>

  <%= render "events/info_event_show_box", event: event %>

  <div class="event-show-timer event-show-timer-modal">
    <div>
      <% if Time.now < event.date_time %>
        <h3 class="timer">
          <%= event.time_left %>
        </h3>
        <p>⚡️ before the beginning of the event ⚡️</p>
      <% else %>
        <h4>
          <%= "The event is ongoing, enjoy it folks!" %>
        </h4>
      <% end %>
    </div>
  </div>

  <div id="url-show-hidden" class="d-none"><%= event.id %></div>

  <%# DISPLAY FRIENDS FOR WHO THEY'RE JOINING THE EVENT %>

  <%# IF CURRENT_USER IS THE EVENT HOST %>
  <%# tip: '&' permet de refacto -> current_user && current_user.user_is_host?(event) %>
  <% if current_user&.user_is_host?(event) %>

    <%= render "events/event_users_list.html.erb", event_users: event.event_users.order_by_status %>

    <div class="show-buttons-container">
      <div class="show-buttons-edit-invitations">
        <%= link_to "Edit plan ✍️", edit_event_path(event), class: "button-next mb-2" %>

        <% if policy(event).destroy? %>
          <%= link_to "Invitations 📨", edit_friends_event_path(event), class: "button-next mb-2" if policy(event).edit_friends? %>
      </div>
      <div class="show-buttons-share-delete show-buttons-share-delete-modal">
          <p id="share-link-modal">🔗</p>
          <%= link_to "🗑", event_path(event), method: :delete, data: { confirm: "Are you sure to delete your event?" }, class: "" %>
      </div>
        <% end %>
    </div>

  <%# IF CURRENT_USER IS A PARTNER OR A VISITOR %>
  <% else  %>

    <% if current_user && event.event_users.find_by(user: current_user).status == "confirmed" %>
      <%#= link_to "Share link", event_path(event), class: "button-next" if event.event_users.find_by(user: current_user).role == "partner" %>
      <%#= link_to "Invite a friend", event_path(event), class: "button-next" if event.event_users.find_by(user: current_user).role == "partner" %>
      <%= render "events/event_users_list.html.erb", event_users: event.event_users.order_by_status %>
      <%= link_to "Change my mind 😱", decline_event_user_path(event.event_users.find_by(user: current_user)), data: { confirm: "Are you sure to decline the event?" }, class: "button-next mb-4 mt-5" %>

    <% elsif current_user && event.event_users.find_by(user: current_user).status == "pending" %>
      <%= render "events/event_users_list.html.erb", event_users: event.event_users.order_by_status %>
      <%= link_to "Join 👊", confirm_event_user_path(event.event_users.find_by(user: current_user)), class: "button-next btn-join mb-2 mt-5" %>
      <%= link_to "Plouf 💦", decline_event_user_path(event.event_users.find_by(user: current_user)), data: { confirm: "Are you sure to decline the event?" }, class: "button-next btn-plouf mb-4" %>

    <% else %>
      <%= render "events/event_users_list.html.erb", event_users: event.event_users.order_by_status %>
      <%= link_to "Change my mind", confirm_event_user_path(event.event_users.find_by(user: current_user)), class: "button-next mb-4 mt-5" %>
    <% end %>
  <% end  %>
</div>







































































































<%# -------------------------------- %>
<%
=begin %>

  <div class="window-top">
  </div>
<div class="content-container">

  <h1 id="event-show-title">
    <%= "#{event.emoji} Let's #{Event::EMOJI.find { |k, v| v == event.emoji }.first } together!" %>
  </h1>

  <div class="infos-event-show-box">
    <%= cl_image_tag event.user.avatar.key, class: "avatar-profile secure: true" %>

    <div class= "box-infos">

      <div class="box-address">
        <% if event.address.length > 40 %>
          <p id="event-address"><%= "#{event.address.first(30)}...#{event.address.last(15)}" %></p>
        <% else %>
          <p id="event-address"><%= event.address %></p>
        <% end %>
      </div>

      <div class="box-date">
        <% if event.date_time == DateTime.now %>
          <p><%= event.date_time.strftime("Today at %H:%M") %></p>
        <% else %>
          <p><%= event.date_time.strftime("%a %d at %H:%M") %></p>
        <% end %>
      </div>

      <div id="emoji-chat-info-window">
        <%= link_to "💬", chatroom_event_path(event)  %>
      </div>

    </div>
  </div>

  <div class="event-show-timer">
    <div>
      <% if Time.now < event.date_time %>
        <div class="timer" id="timer-show">
          <%= event.time_left %>
        </div>
        <h6>Before the beginning of the event</h6>
      <% else %>
        <h1>
          <%= "It's #{event.emoji} time! " %>
        </h1>
      <% end %>
    </div>
  </div>

  <div class="event-description-box">
    <p class="light-p">
      <%= "#{event.description}"%>
    </p>
  </div>

  <%#=  si le mec qui arrive sur la show est host j'affiche event parti %>

  <%# DISPLAY FRIENDS FOR WHO THEY'RE JOINING THE EVENT %>

  <%# IF CURRENT_USER IS THE EVENT HOST %>
  <% if current_user.user_is_host?(event) %>

    <%= render "events/event_users_list.html.erb", event_users: event.event_users.order_by_status %>

    <div class="container-buttons-top-bottom">
      <%= link_to "✍️ Edit plan", edit_event_path(event), class: "button-next mb-2" %>

      <% if policy(event).destroy? %>
        <%= link_to "Manage invitations", edit_friends_event_path(event), class: "button-next mb-2" if policy(event).edit_friends? %>
        <%= link_to "Share event", root_path, class: "button-next btn-delete-grey mb-2" %>
        <%= link_to "Delete my plan", event_path(event), method: :delete, data: { confirm: "Are you sure?" }, class: "button-next btn-delete-grey mb-2" %>
      <% end %>
    </div>

  <%# IF CURRENT_USER IS A PARTNER OR A VISITOR %>
  <% else  %>

    <% if event.event_users.find_by(user: current_user).status == "confirmed" %>
      <%= link_to "Share link", event_path(event), class: "button-next" if event.event_users.find_by(user: current_user).role == "partner" %>
      <%= link_to "Invite a friend", event_path(event), class: "button-next" if event.event_users.find_by(user: current_user).role == "partner" %>
      <%= render "events/event_users_list.html.erb", event_users: event.event_users.order_by_status %>
      <%= link_to "Change my mind 😱", decline_event_user_path(event.event_users.find_by(user: current_user)), data: { confirm: "Are you sure to decline the event?" }, class: "button-next mb-2" %>

    <% elsif event.event_users.find_by(user: current_user).status == "pending" %>
      <%= render "events/event_users_list.html.erb", event_users: event.event_users.order_by_status %>
      <%= link_to "Join 👊", confirm_event_user_path(event.event_users.find_by(user: current_user)), class: "button-next btn-join mb-2" %>
      <%= link_to "Plouf 💦", decline_event_user_path(event.event_users.find_by(user: current_user)), data: { confirm: "Are you sure to decline the event?" }, class: "button-next btn-plouf" %>

    <% else %>
      <%= render "events/event_users_list.html.erb", event_users: event.event_users.order_by_status %>
      <%= link_to "Change my mind 😱", confirm_event_user_path(event.event_users.find_by(user: current_user)), class: "button-next mb-2" %>
    <% end %>
  <% end  %>
</div>

<%
=end %>

<%# ------------------------------------------- %>


























<%
=begin %>

<!-- Mapbox, app/views/flats/_info_window.html.erb -->
<div class="content-container">

  <h1 id="event-show-title">
    <%= " #{event.emoji} Let's #{Event::EMOJI.find { |k, v| v == event.emoji }.first } together!" %>
  </h1>

  <%= render "events/info_event_show_box", event: event %>

  <div class="event-show-timer">
    <div id="timer">
      <p>
        <%= event.time_left %>
      </p>
    </div>
    <h6>Before the beginning of the event</h6>
  </div>

  <div class="event-description-box">
    <p class="light-p">
      <%= "#{event.description}"%>
    </p>
  </div>

  <%#=  si le mec qui arrive sur la show est host j'affiche event parti %>

  <%# DISPLAY FRIENDS FOR WHO THEY'RE JOINING THE EVENT %>

  <%# IF CURRENT_USER IS THE EVENT HOST %>
  <% if current_user.user_is_host?(event) %>

    <%= render "events/event_users_list.html.erb", event_users: event.event_users.order_by_status %>
    <%#= link_to "Copy event link", event_path, class: "gradient-box" %>
    <%#= link_to "Manage invitations", edit_friends_event_path, class: "button-medium" if policy(event).edit_friends? %>
    <div class="manage-event-buttons">
      <% if policy(event).destroy? %>
        <%= link_to "Delete plan", event_path(event), method: :delete, data: { confirm: "Are you sure?" }, class: "button-medium" %>
      <% end %>
      <%#= link_to "Edit plan", event_path, class: "button-medium" %>
    </div>

  <%# IF CURRENT_USER IS A PARTNER OR A VISITOR %>
  <% end  %>
</div>

  <% else  %>
    <% if event.event_users.find_by(user: current_user).confirmed? %>
      <div class="manage-event-buttons">
        <%= link_to "Change answer", event_path, class: "btn btn-outline-primary" %>
        <%= link_to "Invite a friend", event_path, class: "btn btn-outline-secondary" if @current_guest.role == "partner" %>
      </div>

    <% elsif @current_guest.status == "pending" %>
      <div class="manage-event-buttons">
        <%= link_to "Decline", decline_event_user_path(@current_guest), class: "button-medium" %>
        <%= link_to "Confirm", confirm_event_user_path(@current_guest), class: "button-medium" %>
      </div>

    <% else %>
      <%# le statut de l'event doit passer en "declined" et pas en "past"  %>
    <% end %>







----------------------------- PREVIOUS POPUP VERSION -----------------------------
<h2><%= event.emoji %></h2>
<p>Address: <%= event.address %></p>

<p>Date: <%= event.date_time %></p>
<br>
<%= link_to "more", event_path(event), class: "button-next-small" %>
<br>
<br>
<p>Friends participating:</p>

   <% event.event_users.each do |event_user| %>
      <% if event_user.status == "confirmed" %>
        <p>
          <%= cl_image_tag event_user.user.avatar.key, class: "avatar-profile" %>
          <%= event_user.user.first_name %>
        </p>
      <% end %>
    <% end %>

<%
=end %>
