<!-- Mapbox, app/views/flats/_info_window.html.erb -->

<h2><%= event.emoji %></h2>
<p>Address: <%= event.address %></p>
<br>
<p>Description <%= event.description %></p>
<br>
<p>Can I come with an extra friend? <%= event.open %></p>
<br>
<p>Date: <%= event.date_time %></p>
<br>
<%= link_to "Show me the event details", @event_path, method: :get %>

