<!-- Mapbox, app/views/flats/_info_window.html.erb -->

<h2><%= event.emoji %></h2>
<p>Address: <%= event.address %></p>
<br>
<p>Description <%= event.description %></p>
<br>
<p>Can I come with an extra friend? <%= event.open %></p>
<br>
<p>Date: <%= event.date_time %></p>
<br>
<%= link_to "Show me the event details", @event_path, method: :get %>
<br>
<%= link_to "Edit the event", @event_path, method: :get %>
<br>
<%= link_to "Invite extra friends", @event_path, method: :get %>
<br>
<%= link_to "Share the event", @event_path, method: :get %>
<br>
<%= link_to "Delete the event", @event_path, method: :get %>

<!-- if I am host I want to see the edit button -->
<!-- in any case I want to see the show of the event -->
