<!-- Mapbox, app/views/flats/_info_window.html.erb -->

<h2><%= event.emoji %></h2>
<p>Address: <%= event.address %></p>

<p>Date: <%= event.date_time %></p>
<br>
<%= link_to "more", event_path(event), class: "button-next-small" %>
<br>
<br>
<p>Friends participating:</p>

   <% event.event_users.each do |event_user| %>
      <% if event_user.status == "confirmed" %>
        <p>
          <%= cl_image_tag event_user.user.avatar.key, class: "avatar-profile" %>
          <%= event_user.user.first_name %>
        </p>
      <% end %>
    <% end %>
