<div class="content-container">


  <div class="XXX">
    <h1><%= "Hello #{current_user.first_name}!" %></h1>
    <br>
    <% if current_user.facebook_picture_url %>
      <%= image_tag current_user.facebook_picture_url, class: "avatar-friend", "data-toggle" => "dropdown" %>
    <% elsif current_user.avatar.attached? %>
      <%= cl_image_tag current_user.avatar.key, class: "avatar-friend" %>
    <% else %>
      <%= image_tag "http://placehold.it/30x30", class: "avatar-friend", alt: "alttext" %>
    <% end %>
    <br>
  </div>

  <%# avatar_url = current_user.facebook_picture_url || "http://placehold.it/30x30" %>
  <%#= image_tag avatar_url, class: "avatar-home-page", "data-toggle" => "dropdown" %>

  <div class="text-center">
    <div>
      <div class="form-event-title">
        <%= link_to root_path do %>
          <i class="fas fa-chevron-left"></i>
        <% end %>
      </div>
    </div>

    <h1><%= "Friends" %></h1>

<%
=begin %>
      <% if current_user.facebook_picture_url %>
        <%= image_tag current_user.facebook_picture_url, class: "avatar-friend", "data-toggle" => "dropdown" %>
      <% elsif current_user.avatar.attached? %>
        <%= cl_image_tag current_user.avatar.key, class: "avatar-friend" %>
      <% else %>
        <%= image_tag "http://placehold.it/30x30", class: "avatar-friend", alt: "alttext" %>
      <% end %>
<%
=end %>


    <div class="container-friendship">
      <div class="row mb-3">
        <% @friendships.each do |friendship| %>
          <div class=" col-4 friendship">
            <%= link_to toggle_favorite_friendship_path(friendship) do %>
              <%= cl_image_tag friendship.friend.avatar.key, class: 'avatar-profile' %>
              <p>
                <%= friendship.friend.first_name %>
              </p>
              <% if friendship.favorite? %>
                <i class="fas fa-star" id="favorite-star"></i>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <%#= link_to "Search friends", users_list_path, class: "button-next" %>
    <%#= link_to "Log out", destroy_user_session_path, method: :delete, class: "btn-delete-grey" %>
  </div>

  <%= link_to "Search friends", users_list_path, class: "button-next mb-2" %>

  <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "button-next btn-delete-grey mb-2" %>

</div>




