<div class="map-container position-relative">
  <div class="background-shadow position-absolute"></div>
  <div id="pong-title" class="position-absolute">
    <h1>PONG</h1>
  </div>
  <div class="notifications_center">
    <%= link_to "" , notifications_center_path, id: "link"%>
  <% if @pending_friendships != nil %>
    <div class=notifications_icon_display>
     <div data-controller="counter"><span data-counter-target="count"><%= @notifications_counter %></span ></div>
    </div>
  <% end %>
  </div>
  <div class="position-absolute button-wrapper">
    <div class="gradient-box">
      <%= link_to "Share my plan" , events_path, method: :post, class: "text-button" %>
    </div>
  </div>

  <div id="map"
      style="width: 100vw; height: 100vh;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>

