<div class="map-container position-relative">

  <div class="background-shadow position-absolute"></div>

  <div id="pong-title" class="position-absolute">
    <h1>PONG</h1>

    <% if current_user.facebook_picture_url %>
      <%= image_tag current_user.facebook_picture_url, class: "avatar-home-page", "data-toggle" => "dropdown" %>
    <% elsif current_user.avatar.attached? %>
      <%= cl_image_tag current_user.avatar.key, class: "avatar-home-page" %>
    <% else %>
      <%= image_tag "http://placehold.it/30x30", class: "avatar-home-page", alt: "alttext" %>
    <% end %>

  </div>

  <div class="position-absolute button-wrapper">
    <div class="gradient-box">
      <%= link_to "Share my plan" , events_path, method: :post, class: "text-button" %>
    </div>
  </div>

  <div id="map"
      style="width: 100vw; height: 100vh;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
