<!DOCTYPE html>
<html>
  <head>
    <title><%= meta_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag %>

    <link href="https://api.mapbox.com/mapbox-gl-js/v1.10.0/mapbox-gl.css" rel="stylesheet" />

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="<%= meta_description %>">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">

    <%= render 'shared/ios_pwa_links' %>

    <!-- Facebook Open Graph data -->
    <% if controller_name == "events" && action_name == "show" %>
      <meta property="og:title" content="<%= "#{cl_image_tag @event.user.avatar.key, class: 'avatar-small'} invites you to #{Event::EMOJI.find { |k, v| v == @event.emoji }.first} #{@event.emoji}" %>" />
      <meta property="og:type" content="website" />
      <meta property="og:url" content="<%= request.original_url %>" />
      <meta property="og:image" content="<%= meta_image %>" />
      <meta property="og:description" content="<%= @event.description %>" />
      <meta property="og:site_name" content="<%= meta_title %>" />
    <% else %>
      <meta property="og:title" content="<%= meta_title %>" />
      <meta property="og:type" content="website" />
      <meta property="og:url" content="<%= request.original_url %>" />
      <meta property="og:image" content="<%= meta_image %>" />
      <meta property="og:description" content="<%= meta_description %>" />
      <meta property="og:site_name" content="<%= meta_title %>" />
    <% end %>

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:title" content="<%= meta_title %>">
    <meta name="twitter:description" content="<%= meta_description %>">
    <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:image:src" content="<%= meta_image %>">
  </head>

  <body>
    <%= render 'shared/flashes' %>
    <% unless !user_signed_in? %>
      <div class="page-container">
    <% end %>
      <%= yield %>
    </div>
    <% unless !user_signed_in? || controller_name == "events" && ( action_name == "edit_what" || action_name == "edit_address" || action_name == "edit_when" || action_name == "edit_friends" || action_name == "edit") %>
      <%= render 'shared/navbar' %>
    <% end %>
  </body>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</html>
